* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  outline: 1px solid rgb(255, 58, 32);
}

html {
  height: 100%;
}

body {
  background: linear-gradient(to right top, #000000, #1d1d1d);
  color: #ffffff;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

label {
  display: block;
}

li {
  list-style: none;
}

input {
  border: none;
}

button {
  cursor: pointer;
  border: none;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

header {
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.password-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.generated-password-label {
  font-size: 1rem;
  font-weight: 500;
}

.generated-password {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.generated-password-input {
  padding: 1rem;
  background-color: #1a1a1a;
  color: white;
  font-size: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.75rem;
}

.copy-to-clipboard {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.75rem;
  aspect-ratio: 1 / 1;
  height: 100%;
  width: auto;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.1s ease-in-out;
}

.copy-to-clipboard svg {
  fill: rgba(255, 255, 255, 0.7);
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1 / 1;
}

.copy-to-clipboard:hover {
  background-color: rgb(224, 41, 17);
}

.copy-to-clipboard:active {
  background-color: rgb(209, 24, 0);
}

.options-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 1rem;
}

.option {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.options-container {
  text-align: center;
}

.generated-password-button {
  background-color: rgb(255, 58, 32);
  padding: 1rem;
  border-radius: 0.75rem;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  transition: all 0.1s ease-in-out;
}

.generated-password-button:hover {
  background-color: rgb(224, 41, 17);
}

.generated-password-button:active {
  background-color: rgb(209, 24, 0);
}

.minus,
.plus {
    font-family: 'Major Mono Display', monospace;
    background: #E84F40;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
}

.minus {
    content: "-";
    top: 0;
    left: 0;
}

.plus {
    content: "+";
    right: 0;
    top: 0;
}

.donate-link {
  opacity: 0.4;
  transition: all .1s ease-in-out;
}

.donate-link:hover {
  opacity: 1;
}